@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including spaces and comments before @charset declaration.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables

// Mixins
.mwa-view-workflow-step() {
  // CAUTION:
  // It is necessary to set !important for drag because jQuery UI Draggable automatically apply
  // "position: relative" style setting.
  position: absolute !important;

  &.proui-state-selectable {
    .mwa-view-workflow-step-image {
      rect {
        cursor: pointer;
      }

      &:hover {
        .mwa-view-workflow-step-rect(@mwa-view-workflow-step-color-rect-stroke-hover, @mwa-view-workflow-step-size-rect-stroke-width-hover);
      }
    }

    &.proui-state-selected {
      &:hover {
        .mwa-view-workflow-step-rect(@mwa-view-workflow-step-color-rect-stroke-selected-hover, @mwa-view-workflow-step-size-rect-stroke-width-hover);
      }
    }
  }

  // CAUTION:
  // It is necessary to change stroke color regardless of whether the workflow step is selectable if
  // it is selected because selectable state is for GUI operation, not program code.
  &.proui-state-selected {
    .mwa-view-workflow-step-text {
      > * {
        color: @mwa-view-workflow-step-color-text-selected;
      }
    }

    .mwa-view-workflow-step-image {
      .mwa-view-workflow-step-rect(@mwa-view-workflow-step-color-rect-stroke-selected, @mwa-view-workflow-step-size-rect-stroke-width);
    }
  }

  .mwa-view-workflow-step-text {
    position: relative;
    width: 100%;
    height: 0;

    // vertical-align image in div [duplicate]
    //  - http://stackoverflow.com/questions/10008670/vertical-align-image-in-div
    > * {
      position: absolute;
      top: 0;
      left: 50%;
      height: unit(@mwa-view-workflow-step-size-text-height, px);
      font-size: unit(@mwa-view-workflow-step-size-text-font, px);
      text-align: center;
      transform: translate(-50%, -50%);
    }

    > input[type="text"] {
      &:not(:hover) {
        &:not(:focus) {
          border-bottom: none;
        }
      }

      &[readonly] {
        pointer-events: none;
      }
    }
  }

  .mwa-view-workflow-step-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none no-repeat scroll transparent;
    box-shadow: 0 0 unit(@mwa-view-workflow-step-size-image-box-shadow-blur, px) @mwa-view-workflow-step-color-image-box-shadow;

    &[data-template-type="START"],
    &[data-template-type="END"] {
      .mwa-view-workflow-step-rect-gradient-color(@mwa-view-workflow-step-color-rect-gradient-green-start, @mwa-view-workflow-step-color-rect-gradient-green-stop);
    }

    &[data-template-name="com.sony.pro.mwa.control.activity.ConditionalBranchTask"],
    &[data-template-name="com.sony.pro.mwa.control.activity.ParallelBranchTask"],
    // TODO: To use only one converging step for both conditional branch step and parallel branch step.
    //&[data-template-name="com.sony.pro.mwa.control.activity.ConvergingTask"] {
    &[data-template-name="com.sony.pro.mwa.control.activity.ConditionalConvergingTask"] {
      .mwa-view-workflow-step-rect-gradient-color(@mwa-view-workflow-step-color-rect-gradient-gray-start, @mwa-view-workflow-step-color-rect-gradient-gray-stop);
    }

    .mwa-view-workflow-step-rect(@mwa-view-workflow-step-color-rect-stroke-rest, @mwa-view-workflow-step-size-rect-stroke-width);
    .mwa-view-workflow-step-rect-gradient-color(@mwa-view-workflow-step-color-rect-gradient-purple-start, @mwa-view-workflow-step-color-rect-gradient-purple-stop);

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: unit(@mwa-view-workflow-step-size-image, px);
      height: unit(@mwa-view-workflow-step-size-image, px);
      margin: auto;
      pointer-events: none;
    }
  }

  .mwa-view-workflow-step-progress-bar {
    position: relative;
    width: 100%;
    height: 0;

    > div {
      position: absolute;
      height: unit(@mwa-view-workflow-step-size-progress-bar-height, px);
    }
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &.proui-state-success {
    .mwa-view-workflow-step-status("success");
  }

  &.proui-state-warning {
    .mwa-view-workflow-step-status("warning");
  }

  &.proui-state-error {
    .mwa-view-workflow-step-status("error");
  }
}

.mwa-view-workflow-step-rect(@stroke, @stroke-width) {
  rect {
    stroke: @stroke;
    stroke-width: @stroke-width;
    // CAUTION:
    // This style setting is a hedge against a case that rect element isn't filling.
    //  - Css hover sometimes doesn't work on svg paths
    //    (http://stackoverflow.com/questions/17616233/css-hover-sometimes-doesnt-work-on-svg-paths)
    pointer-events: all;
  }
}

.mwa-view-workflow-step-rect-gradient-color(@start-color, @stop-color) {
  stop {
    &:first-child {
      stop-color: @start-color;
    }

    &:last-child {
      stop-color: @stop-color;
    }
  }
}

.mwa-view-workflow-step-status(@state) {
  &:after {
    // TODO: To change image type to SVG.
    content: url("@{mwa-image-url}/workflow/workflow-step-status-@{state}.png");
    position: absolute;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 36px;
  }
}

// Styles
.mwa-view-workflow-step {
  .mwa-view-workflow-step();
}

@import "mwa.size.less";
@import "mwa.color.less";

@import "mwa.view.less";
