@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including spaces and comments before @charset declaration.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables
@mwa-locale-url: '../../locales/mwa';

// Mixins

// Styles
#mwa {
  display: none !important;

  #mwa-internal-image {
    background: url("@{mwa-image-url}") center center no-repeat scroll @mwa-color-background !important;
  }

  #mwa-external-image {
    background: url("@{proui-image-url}") center center no-repeat scroll @mwa-color-background !important;
  }

  #mwa-internal-locale {
    background: url("@{mwa-locale-url}") center center no-repeat scroll @mwa-color-background !important;
  }
}

@import "mwa.font.less";
@import "mwa.size.less";
@import "mwa.color.less";

@import "mwa.view.less";
//@import "mwa.view.sample.less";
@import "mwa.view.workflow-diagram-save-dialog.less";
@import "mwa.view.activity-profile-list-view.less";
@import "mwa.view.workflow-step.less";
@import "mwa.view.workflow-parameter-editor.less";
@import "mwa.view.workflow-connection-port.less";
@import "mwa.view.workflow-connection.less";
@import "mwa.view.workflow-canvas.less";
@import "mwa.view.workflow-monitor.less";
@import "mwa.view.workflow-editor.less";
