@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including spaces and comments before @charset declaration.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables

// Mixins
.mwa-view-workflow-connection() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: unit(@mwa-view-workflow-connection-size-width, px);
  height: unit(@mwa-view-workflow-connection-size-height, px);
  pointer-events: none;

  &.proui-state-hidden {
    // CAUTION:
    // It is necessary to use visibility style instead of display style for the non-display because
    // internal timer will stop based on whether the width is fixed.
    visibility: hidden;
  }

  &.proui-state-selectable {
    path {
      cursor: pointer;
    }

    // CAUTION:
    // It is necessary to use the state style class (proui-state-selecting) instead of pseudo style
    // class (:hover) because the styles of foreground path should be updated once hover occurs on
    // background path. In other words, hover should occur on foreground path if hover occurs on
    // background path. For this behavior, the state style class (proui-state-selecting) will be
    // added to foreground path when hover occurs on foreground and background paths.
    &.proui-state-selecting {
      .mwa-view-workflow-connection-path(@mwa-view-workflow-connection-color-path-stroke-hover, @mwa-view-workflow-connection-size-path-foreground-stroke-width-hover);
    }

    &.proui-state-selected {
      &.proui-state-selecting {
        .mwa-view-workflow-connection-path(@mwa-view-workflow-connection-color-path-stroke-selected-hover, @mwa-view-workflow-connection-size-path-foreground-stroke-width-hover);
      }

      &.proui-state-success {
        .mwa-view-workflow-connection-path(@mwa-view-workflow-connection-color-path-stroke-success, @mwa-view-workflow-connection-size-path-foreground-stroke-width-hover);

        &.proui-state-selecting {
          .mwa-view-workflow-connection-path(@mwa-view-workflow-connection-color-path-stroke-success, @mwa-view-workflow-connection-size-path-foreground-stroke-width-hover);
        }
      }
    }

    &.proui-state-success {
      &.proui-state-selecting {
        .mwa-view-workflow-connection-path(@mwa-view-workflow-connection-color-path-stroke-success, @mwa-view-workflow-connection-size-path-foreground-stroke-width-hover);
      }
    }
  }

  // CAUTION:
  // It is necessary to change stroke color regardless of whether the workflow connection is
  // selectable if it is selected because selectable state is for GUI operation, not program code.
  &.proui-state-selected {
    .mwa-view-workflow-connection-path(@mwa-view-workflow-connection-color-path-stroke-selected, @mwa-view-workflow-connection-size-path-foreground-stroke-width);

    &.proui-state-success {
      .mwa-view-workflow-connection-path(@mwa-view-workflow-connection-color-path-stroke-success, @mwa-view-workflow-connection-size-path-foreground-stroke-width-thick);
    }
  }

  &.proui-state-success {
    .mwa-view-workflow-connection-path(@mwa-view-workflow-connection-color-path-stroke-success, @mwa-view-workflow-connection-size-path-foreground-stroke-width-thick);
  }

  .mwa-view-workflow-connection-path(@mwa-view-workflow-connection-color-path-stroke-rest, @mwa-view-workflow-connection-size-path-foreground-stroke-width);

  svg {
    width: 100%;
    height: 100%;
  }
}

.mwa-view-workflow-connection-path(@stroke, @stroke-width) {
  path {
    // CAUTION:
    // - Css hover sometimes doesn't work on svg paths
    //   (http://stackoverflow.com/questions/17616233/css-hover-sometimes-doesnt-work-on-svg-paths)
    pointer-events: stroke;
    fill: none;

    &.mwa-view-workflow-connection-path-foreground {
      stroke: @stroke;
      stroke-width: @stroke-width;
    }

    &.mwa-view-workflow-connection-path-background {
      stroke: transparent;
      stroke-width: @mwa-view-workflow-connection-size-path-background-stroke-width;
    }
  }
}

// Styles
.mwa-view-workflow-connection {
  .mwa-view-workflow-connection();
}

@import "mwa.size.less";
@import "mwa.color.less";

@import "mwa.view.less";
