@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including spaces and comments before @charset declaration.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables

// Mixins
.mwa-view-workflow-monitor() {
  display: table;
  width: 100%;
  height: 100%;

  .mwa-view-workflow-monitor-header {
    display: table-row;
    width: 100%;
    height: 0; // INFORMATION: Tentative
  }

  .mwa-view-workflow-monitor-body {
    display: table-row;
    width: 100%;

    .mwa-view-workflow-monitor-workflow-instance-list-view {
      width: 100%;
      height: 100%;
    }
  }

  .mwa-view-workflow-monitor-footer {
    display: table-row;
    width: 100%;
    height: 0; // INFORMATION: Tentative
  }
}

// Styles
.mwa-view-workflow-monitor {
  .mwa-view-workflow-monitor();
}

@import "mwa.size.less";
@import "mwa.color.less";

@import "mwa.view.less";
