@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including spaces and comments before @charset declaration.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables

//// mwa.less
@mwa-size-image: 24;

//// mwa.view.less


//// mwa.view.sample.less


//// mwa.view.workflow-diagram-save-dialog.less


//// mwa.view.activity-profile-list-view.less


//// mwa.view.workflow-step.less
@mwa-view-workflow-step-size-text-height: 16;
@mwa-view-workflow-step-size-text-font: 14;
@mwa-view-workflow-step-size-progress-bar-height: 16;
@mwa-view-workflow-step-size-image: 36;
@mwa-view-workflow-step-size-image-box-shadow-blur: 5;
@mwa-view-workflow-step-size-rect-stroke-width: 1;
@mwa-view-workflow-step-size-rect-stroke-width-hover: 2;

//// mwa.view.workflow-parameter-editor.less
@mwa-view-workflow-parameter-editor-size-image: @mwa-size-image;
@mwa-view-workflow-parameter-editor-size-image-right: @mwa-view-workflow-parameter-editor-size-button-right + 0.5 * (@mwa-view-workflow-parameter-editor-size-button-width - @mwa-view-workflow-parameter-editor-size-image);
@mwa-view-workflow-parameter-editor-size-button-width: 32;
@mwa-view-workflow-parameter-editor-size-button-height: 28;
@mwa-view-workflow-parameter-editor-size-button-right: 12;
@mwa-view-workflow-parameter-editor-size-copy-button-bottom: -24;
@mwa-view-workflow-parameter-editor-size-predefined-workflow-step-number: 1;
@mwa-view-workflow-parameter-editor-size-drop-down-button-max-height: 400;
@mwa-view-workflow-parameter-editor-size-drop-down-list-item-height: 32;
@mwa-view-workflow-parameter-editor-size-padding-vertical: 0;
@mwa-view-workflow-parameter-editor-size-padding-horizontal: 0;
@mwa-view-workflow-parameter-editor-size-header-height: 32 + 2 * @mwa-view-workflow-parameter-editor-size-padding-vertical;
@mwa-view-workflow-parameter-editor-size-footer-height: 200 + 2 * @mwa-view-workflow-parameter-editor-size-padding-vertical;
@mwa-view-workflow-parameter-editor-size-separator-height: 7;
@mwa-view-workflow-parameter-editor-size-separator-padding-horizontal: 8;
@mwa-view-workflow-parameter-editor-size-separator-border-width: 1;
@mwa-view-workflow-parameter-editor-size-text-box-border-width: 1;
@mwa-view-workflow-parameter-editor-activity-instance-information-padding-vertical: 6;
@mwa-view-workflow-parameter-editor-activity-instance-information-item-height: 32;
@mwa-view-workflow-parameter-editor-activity-instance-information-item-padding-vertical: 6;
@mwa-view-workflow-parameter-editor-activity-instance-information-item-key-width: 120;
@mwa-view-workflow-parameter-editor-activity-instance-information-item-key-padding-top: @mwa-view-workflow-parameter-editor-activity-instance-information-item-padding-vertical + 2;
@mwa-view-workflow-parameter-editor-activity-instance-information-item-value-padding-right: @mwa-view-workflow-parameter-editor-size-expander-content-item-space-right;
@mwa-view-workflow-parameter-editor-activity-instance-information-item-value-progress-bar-margin-top: @mwa-view-workflow-parameter-editor-activity-instance-information-item-padding-vertical;
@mwa-view-workflow-parameter-editor-size-expander-content-padding-top: 0;
@mwa-view-workflow-parameter-editor-size-expander-content-item-space-top: 0;
@mwa-view-workflow-parameter-editor-size-expander-content-item-space-right: 2 * @mwa-view-workflow-parameter-editor-size-button-right + @mwa-view-workflow-parameter-editor-size-button-width;
@mwa-view-workflow-parameter-editor-size-expander-content-item-space-bottom: 8;
@mwa-view-workflow-parameter-editor-size-expander-content-item-space-left: 0;
@mwa-view-workflow-parameter-editor-size-expander-content-item-key-height: 32;
@mwa-view-workflow-parameter-editor-size-expander-content-item-key-type-min-width: 120;
@mwa-view-workflow-parameter-editor-size-expander-content-item-value-height: 36 + @mwa-view-workflow-parameter-editor-size-expander-content-item-space-top + @mwa-view-workflow-parameter-editor-size-expander-content-item-space-bottom;
@mwa-view-workflow-parameter-editor-size-expander-content-item-value-padding-horizontal: 4;
@mwa-view-workflow-parameter-editor-size-expander-content-item-result-height: 36;
@mwa-view-workflow-parameter-editor-size-expander-content-item-result-margin-right: 36;
@mwa-view-workflow-parameter-editor-size-expander-content-item-operator-height: 64 + @mwa-view-workflow-parameter-editor-size-expander-content-item-space-top + @mwa-view-workflow-parameter-editor-size-expander-content-item-space-bottom;
@mwa-view-workflow-parameter-editor-size-expander-content-item-operator-line-height: @mwa-view-workflow-parameter-editor-size-expander-content-item-operator-height - (@mwa-view-workflow-parameter-editor-size-expander-content-item-value-height - 28); // The 28 px is height of drop down button.
@mwa-view-workflow-parameter-editor-size-expander-content-item-operator-padding-horizontal: 18;
@mwa-view-workflow-parameter-editor-size-expander-content-item-operator-negative-margin-top: -0.5 * @mwa-view-workflow-parameter-editor-size-expander-content-item-operator-line-height;
@mwa-view-workflow-parameter-editor-size-workflow-parameter-item-delete-button-top: 0.5 * (@mwa-view-workflow-parameter-editor-size-expander-content-item-key-height - @mwa-view-workflow-parameter-editor-size-button-height);
@mwa-view-workflow-parameter-editor-size-workflow-condition-item-height: 3 * @mwa-view-workflow-parameter-editor-size-expander-content-item-value-height + @mwa-view-workflow-parameter-editor-size-expander-content-item-operator-height;
@mwa-view-workflow-parameter-editor-size-workflow-condition-item-result-status-width: 8;
@mwa-view-workflow-parameter-editor-size-workflow-condition-item-result-status-image-top: @mwa-view-workflow-parameter-editor-size-expander-content-item-operator-height + @mwa-view-workflow-parameter-editor-size-expander-content-item-value-height + @mwa-view-workflow-parameter-editor-size-expander-content-item-result-height;
@mwa-view-workflow-parameter-editor-size-workflow-condition-item-result-status-image-padding-vertical: 2;
@mwa-view-workflow-parameter-editor-size-workflow-condition-item-delete-button-top: @mwa-view-workflow-parameter-editor-size-expander-content-item-operator-height + @mwa-view-workflow-parameter-editor-size-expander-content-item-value-height;

//// mwa.view.workflow-connection-port.less
@mwa-view-workflow-connection-port-size: 16;
@mwa-view-workflow-connection-port-border-width-selecting: 3;
@mwa-view-workflow-connection-port-circle-stroke-width: 3;

//// mwa.view.workflow-connection.less
@mwa-view-workflow-connection-size-width: 9999;
@mwa-view-workflow-connection-size-height: 9999;
@mwa-view-workflow-connection-size-path-foreground-stroke-width: 1;
@mwa-view-workflow-connection-size-path-foreground-stroke-width-thick: 3;
@mwa-view-workflow-connection-size-path-foreground-stroke-width-hover: 6;
@mwa-view-workflow-connection-size-path-background-stroke-width: 30;

//// mwa.view.workflow-canvas.less
@mwa-view-workflow-canvas-size-image: @mwa-size-image;
@mwa-view-workflow-canvas-size-grid: 1;
@mwa-view-workflow-canvas-size-grid-space: 10;
@mwa-view-workflow-canvas-size-workflow-step-padding: 17;
@mwa-view-workflow-canvas-size-workflow-information-padding-vertical: 4;
@mwa-view-workflow-canvas-size-workflow-information-padding-horizontal: 12;
@mwa-view-workflow-canvas-size-workflow-information-drawer-width: 36;
@mwa-view-workflow-canvas-size-workflow-information-drawer-height: 28;
@mwa-view-workflow-canvas-size-workflow-information-drawer-margin-vertical: 4;
@mwa-view-workflow-canvas-size-workflow-information-drawer-margin-right: 20;
@mwa-view-workflow-canvas-size-workflow-information-drawer-border-radius: 4;
@mwa-view-workflow-canvas-size-workflow-parameter-box-shadow-offset: 0;
@mwa-view-workflow-canvas-size-workflow-parameter-box-shadow-blur: 40;

//// mwa.view.workflow-monitor.less


//// mwa.view.workflow-editor.less
@mwa-view-workflow-editor-size-button-width: 32;
@mwa-view-workflow-editor-size-button-height: 28;
@mwa-view-workflow-editor-size-button-top: 2 + 8 + 44 + 0.5 * (32 - @mwa-view-workflow-editor-size-button-height); // border (proui-pane) + margin (proui-pane) + top (proui-expander-content) + 0.5 * (height (proui-tab-header) - height (button))
@mwa-view-workflow-editor-size-button-right: 10;
@mwa-view-workflow-editor-size-header-border-width: 2;
@mwa-view-workflow-editor-size-annotation-height: 48;
@mwa-view-workflow-editor-size-annotation-font-size: 24;
@mwa-view-workflow-editor-size-metadata-editor-metadata-group-item-url-text-indent: -3.1;

// Mixins

// Styles
