@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including spaces and comments before @charset declaration.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables

// Mixins
.mwa-view-workflow-canvas() {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: @mwa-view-workflow-canvas-color-background-rest;
  outline: none;

  &.proui-state-selecting {
    background-color: @mwa-view-workflow-canvas-color-background-sub-selected;
  }

  // INFORMATION: NVX-3393 (https://www.tool.sony.biz/jira/browse/NVX-3393)
  // - How to make a grid (like graph paper grid) with just css?
  //   (http://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css)
  &.mwa-view-workflow-canvas-grid {
    background-image:
        linear-gradient(
            to right,
            @mwa-view-workflow-canvas-color-grid unit(@mwa-view-workflow-canvas-size-grid, px),
            transparent unit(@mwa-view-workflow-canvas-size-grid, px)
        ),
        linear-gradient(
            to bottom,
            @mwa-view-workflow-canvas-color-grid unit(@mwa-view-workflow-canvas-size-grid, px),
            transparent unit(@mwa-view-workflow-canvas-size-grid, px)
        );
    background-size: unit(@mwa-view-workflow-canvas-size-grid-space, px) unit(@mwa-view-workflow-canvas-size-grid-space, px);
  }

  .mwa-view-workflow-canvas-workflow-step {
    position: relative;
    width: 100%;
    height: 100%;
    // INFORMATION:
    // - Hide scroll bar, but still being able to scroll
    //   (http://stackoverflow.com/questions/16670931/hide-scroll-bar-but-still-being-able-to-scroll)
    overflow: scroll;
    padding: unit(@mwa-view-workflow-canvas-size-workflow-step-padding, px);
  }

  .mwa-view-workflow-canvas-workflow-information {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: unit(@mwa-view-workflow-canvas-size-workflow-information-padding-vertical, px) unit(@mwa-view-workflow-canvas-size-workflow-information-padding-horizontal, px);
    background-color: @mwa-view-workflow-canvas-color-background-rest;
    box-shadow: unit(@mwa-view-workflow-canvas-size-workflow-parameter-box-shadow-offset, px) unit(@mwa-view-workflow-canvas-size-workflow-parameter-box-shadow-offset, px) unit(@mwa-view-workflow-canvas-size-workflow-parameter-box-shadow-blur, px) @mwa-view-workflow-canvas-color-workflow-parameter-box-shadow;
    cursor: default;

    .ui-resizable-handle {
      border-color: transparent !important;
    }

    // CAUTION:
    // It is important to clear padding style not to display background and box shadow during
    // collapsed. And it is important to hide the elements for resize in order not to display them
    // unnecessarily.
    &.proui-state-hidden {
      padding: 0;

      .proui-expander-spacer {
        display: none;
      }

      .ui-resizable-handle {
        display: none;
      }
    }
  }

  .mwa-view-workflow-canvas-workflow-information-drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: unit(@mwa-view-workflow-canvas-size-workflow-information-drawer-width, px);
    height: unit(@mwa-view-workflow-canvas-size-workflow-information-drawer-height, px);
    margin: unit(@mwa-view-workflow-canvas-size-workflow-information-drawer-margin-vertical, px) unit(@mwa-view-workflow-canvas-size-workflow-information-drawer-margin-right, px) unit(@mwa-view-workflow-canvas-size-workflow-information-drawer-margin-vertical, px) 0;
    border-radius: unit(@mwa-view-workflow-canvas-size-workflow-information-drawer-border-radius, px);
    background: url("@{proui-image-url}/proui.util.information.svg") center center / unit(@mwa-view-workflow-canvas-size-image, px) unit(@mwa-view-workflow-canvas-size-image, px) no-repeat scroll @mwa-view-workflow-canvas-color-background-rest;
  }
}

// Styles
.mwa-view-workflow-canvas {
  .mwa-view-workflow-canvas();
}

@import "mwa.size.less";
@import "mwa.color.less";

@import "mwa.view.less";
