@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including spaces and comments before @charset declaration.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables
@mwa-image-url: '../../images/mwa';
@proui-image-url: '../../images/proui-flat';

//// mwa.less
@mwa-color-background: transparent;

//// mwa.view.less


//// mwa.view.sample.less


//// mwa.view.workflow-diagram-save-dialog.less


//// mwa.view.activity-profile-list-view.less


//// mwa.view.workflow-step.less
@mwa-view-workflow-step-color-text-selected: rgb(89, 175, 219);
@mwa-view-workflow-step-color-image-box-shadow: rgba(0, 0, 0, 0.75);
@mwa-view-workflow-step-color-rect-stroke-rest: rgba(255, 255, 255, 0.2);
@mwa-view-workflow-step-color-rect-stroke-hover: rgba(255, 255, 255, 1,0);
@mwa-view-workflow-step-color-rect-stroke-selected: rgb(89, 175, 219);
@mwa-view-workflow-step-color-rect-stroke-selected-hover: rgb(59, 176, 255);
@mwa-view-workflow-step-color-rect-gradient-purple-start: rgb(175, 102, 255);
@mwa-view-workflow-step-color-rect-gradient-purple-stop: rgb(142, 71, 204);
@mwa-view-workflow-step-color-rect-gradient-green-start: rgb(0, 207, 154);
@mwa-view-workflow-step-color-rect-gradient-green-stop: rgb(0, 173, 121);
@mwa-view-workflow-step-color-rect-gradient-blue-start: rgb(31, 142, 255);
@mwa-view-workflow-step-color-rect-gradient-blue-stop: rgb(41, 84, 204);
@mwa-view-workflow-step-color-rect-gradient-red-start: rgb(255, 102, 138);
@mwa-view-workflow-step-color-rect-gradient-red-stop: rgb(204, 71, 102);
@mwa-view-workflow-step-color-rect-gradient-orange-start: rgb(245, 162, 42);
@mwa-view-workflow-step-color-rect-gradient-orange-stop: rgb(194, 109, 21);
@mwa-view-workflow-step-color-rect-gradient-yellow-start: rgb(194, 199, 4);
@mwa-view-workflow-step-color-rect-gradient-yellow-stop: rgb(150, 141, 0);
@mwa-view-workflow-step-color-rect-gradient-gray-start: rgb(166, 166, 166);
@mwa-view-workflow-step-color-rect-gradient-gray-stop: rgb(115, 115, 115);

//// mwa.view.workflow-parameter-editor.less
@mwa-view-workflow-parameter-editor-color-background-rest: rgb(42, 42, 42);
@mwa-view-workflow-parameter-editor-color-separator: rgb(102, 102, 102);
@mwa-view-workflow-parameter-editor-color-text-progress-bar: rgb(224, 224, 224);
@mwa-view-workflow-parameter-editor-color-text-result-emphasized: rgb(255, 255, 255);
@mwa-view-workflow-parameter-editor-color-text-result-disabled: rgb(108, 108, 108);
@mwa-view-workflow-parameter-editor-color-text-box-border-success: rgb(0, 211, 70);
@mwa-view-workflow-parameter-editor-color-text-box-border-error: rgb(242, 106, 102);
@mwa-view-workflow-parameter-editor-color-text-box-border-disabled: rgb(108, 108, 108);

//// mwa.view.workflow-connection-port.less
@mwa-view-workflow-connection-port-color-darkness: 20%;
@mwa-view-workflow-connection-port-color-border-selected: rgb(59, 175, 255);
@mwa-view-workflow-connection-port-color-circle-stroke-gray-rest: rgb(140, 140, 140);
@mwa-view-workflow-connection-port-color-circle-stroke-gray-hover: rgb(163, 163, 163);
@mwa-view-workflow-connection-port-color-circle-stroke-gray-dark-rest: darken(@mwa-view-workflow-connection-port-color-circle-stroke-gray-rest, @mwa-view-workflow-connection-port-color-darkness);
@mwa-view-workflow-connection-port-color-circle-stroke-gray-dark-hover: darken(@mwa-view-workflow-connection-port-color-circle-stroke-gray-hover, @mwa-view-workflow-connection-port-color-darkness);
@mwa-view-workflow-connection-port-color-circle-stroke-green-rest: rgb(0, 209, 164);
@mwa-view-workflow-connection-port-color-circle-stroke-green-hover: rgb(0, 232, 177);
@mwa-view-workflow-connection-port-color-circle-stroke-green-dark-rest: darken(@mwa-view-workflow-connection-port-color-circle-stroke-green-rest, @mwa-view-workflow-connection-port-color-darkness);
@mwa-view-workflow-connection-port-color-circle-stroke-green-dark-hover: darken(@mwa-view-workflow-connection-port-color-circle-stroke-green-hover, @mwa-view-workflow-connection-port-color-darkness);
@mwa-view-workflow-connection-port-color-circle-stroke-red-rest: rgb(255, 0, 68);
@mwa-view-workflow-connection-port-color-circle-stroke-red-hover: rgb(255, 51, 114);
@mwa-view-workflow-connection-port-color-circle-stroke-red-dark-rest: darken(@mwa-view-workflow-connection-port-color-circle-stroke-red-rest, @mwa-view-workflow-connection-port-color-darkness);
@mwa-view-workflow-connection-port-color-circle-stroke-red-dark-hover: darken(@mwa-view-workflow-connection-port-color-circle-stroke-red-hover, @mwa-view-workflow-connection-port-color-darkness);
@mwa-view-workflow-connection-port-color-circle-stroke-white-rest: rgb(0, 0, 0);      // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-white-hover: rgb(0, 0, 0);     // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-white-dark-rest: darken(@mwa-view-workflow-connection-port-color-circle-stroke-white-rest, @mwa-view-workflow-connection-port-color-darkness);     // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-white-dark-hover: darken(@mwa-view-workflow-connection-port-color-circle-stroke-white-hover, @mwa-view-workflow-connection-port-color-darkness);   // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-orange-rest: rgb(0, 0, 0);     // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-orange-hover: rgb(0, 0, 0);    // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-orange-dark-rest: darken(@mwa-view-workflow-connection-port-color-circle-stroke-orange-rest, @mwa-view-workflow-connection-port-color-darkness);   // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-orange-dark-hover: darken(@mwa-view-workflow-connection-port-color-circle-stroke-orange-hover, @mwa-view-workflow-connection-port-color-darkness); // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-yellow-rest: rgb(0, 0, 0);     // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-yellow-hover: rgb(0, 0, 0);    // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-yellow-dark-rest: darken(@mwa-view-workflow-connection-port-color-circle-stroke-yellow-rest, @mwa-view-workflow-connection-port-color-darkness);   // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-yellow-dark-hover: darken(@mwa-view-workflow-connection-port-color-circle-stroke-yellow-hover, @mwa-view-workflow-connection-port-color-darkness); // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-brown-rest: rgb(0, 0, 0);      // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-brown-hover: rgb(0, 0, 0);     // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-brown-dark-rest: darken(@mwa-view-workflow-connection-port-color-circle-stroke-brown-rest, @mwa-view-workflow-connection-port-color-darkness);     // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-brown-dark-hover: darken(@mwa-view-workflow-connection-port-color-circle-stroke-brown-hover, @mwa-view-workflow-connection-port-color-darkness);   // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-blue-rest: rgb(0, 0, 0);       // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-blue-hover: rgb(0, 0, 0);      // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-blue-dark-rest: darken(@mwa-view-workflow-connection-port-color-circle-stroke-blue-rest, @mwa-view-workflow-connection-port-color-darkness);       // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-blue-dark-hover: darken(@mwa-view-workflow-connection-port-color-circle-stroke-blue-hover, @mwa-view-workflow-connection-port-color-darkness);     // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-purple-rest: rgb(0, 0, 0);     // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-purple-hover: rgb(0, 0, 0);    // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-purple-dark-rest: darken(@mwa-view-workflow-connection-port-color-circle-stroke-purple-rest, @mwa-view-workflow-connection-port-color-darkness);   // TODO
@mwa-view-workflow-connection-port-color-circle-stroke-purple-dark-hover: darken(@mwa-view-workflow-connection-port-color-circle-stroke-purple-hover, @mwa-view-workflow-connection-port-color-darkness); // TODO
@mwa-view-workflow-connection-port-color-circle-fill-rest: rgb(0, 0, 0);

//// mwa.view.workflow-connection.less
@mwa-view-workflow-connection-color-path-stroke-rest: rgb(224, 224, 224);
@mwa-view-workflow-connection-color-path-stroke-hover: rgb(248, 248, 248);
@mwa-view-workflow-connection-color-path-stroke-selected: rgb(89, 175, 219);
@mwa-view-workflow-connection-color-path-stroke-selected-hover: rgb(59, 176, 255);
@mwa-view-workflow-connection-color-path-stroke-success: rgb(0, 211, 70);

//// mwa.view.workflow-canvas.less
@mwa-view-workflow-canvas-color-background-rest: rgb(42, 42, 42);
@mwa-view-workflow-canvas-color-background-sub-selected: rgba(89, 175, 219, 0.2);
@mwa-view-workflow-canvas-color-grid: rgb(61, 61, 61);
@mwa-view-workflow-canvas-color-workflow-parameter-box-shadow: rgba(0, 0, 0, 0.75);

//// mwa.view.workflow-monitor.less


//// mwa.view.workflow-editor.less
@mwa-view-workflow-editor-color-background-rest: rgb(42, 42, 42);
@mwa-view-workflow-editor-color-header-border: rgb(21, 21, 21);
@mwa-view-workflow-editor-color-annotation: rgb(153, 153, 153);

// Mixins

// Styles
