@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including spaces and comments before @charset declaration.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables

// Mixins
.mwa-view-workflow-editor() {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: @mwa-view-workflow-editor-color-background-rest;

  > .mwa-view-workflow-editor-header {
    .mwa-view-workflow-editor-content();

    > .mwa-view-workflow-editor-header-center {
      .mwa-view-workflow-editor-content-cell();
      flex-grow: 1;
      border-bottom: unit(@mwa-view-workflow-editor-size-header-border-width, px) @mwa-view-workflow-editor-color-header-border solid;

      &:empty {
        border-bottom: none;
      }

      > .mwa-view-workflow-editor-activity-palette {
        // CAUTION: NVX-5600 (https://www.tool.sony.biz/jira/browse/NVX-5600)
        // It is necessary to set viewport width style instead of width style (100%) in order to
        // display Pro-UI scroll bar correctly because 100vw doesn't inherit from parent width (in
        // 100% case, percentage width is calculated with parent element width) and viewport width
        // changes and get applied to this element correctly (the viewport is the user's visible
        // area of a web page) when resize occurs.
        width: 100vw;
      }
    }
  }

  > .mwa-view-workflow-editor-body {
    .mwa-view-workflow-editor-content();
    visibility: hidden;
    flex-grow: 0;
    flex-basis: 0;

    &.proui-state-selected {
      visibility: visible;
      flex-grow: 1;
    }

    > .mwa-view-workflow-editor-body-left {
      .mwa-view-workflow-editor-content-cell();

      > .mwa-view-workflow-editor-workflow-navigation {
        // Do Nothing
      }

      > .mwa-view-workflow-editor-workflow-diagram-add-button {
        position: absolute;
        top: unit(@mwa-view-workflow-editor-size-button-top, px);
        right: unit(@mwa-view-workflow-editor-size-button-right, px);
        width: unit(@mwa-view-workflow-editor-size-button-width, px);
        height: unit(@mwa-view-workflow-editor-size-button-height, px);
        background: url("@{proui-image-url}/proui.util.plus.svg") center center / unit(@mwa-view-workflow-parameter-editor-size-image, px) unit(@mwa-view-workflow-parameter-editor-size-image, px) no-repeat scroll transparent;
      }

      .ui-resizable-handle {
        border-color: transparent !important;
      }
    }

    > .mwa-view-workflow-editor-body-center {
      .mwa-view-workflow-editor-content-cell();
      flex-grow: 1;

      > .mwa-view-workflow-editor-workflow-canvas-tab {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      > .mwa-view-workflow-editor-annotation {
        margin: auto;
        text-align: center;

        > * {
          display: block;
          height: unit(@mwa-view-workflow-editor-size-annotation-height, px);
          line-height: unit(@mwa-view-workflow-editor-size-annotation-height, px);
          font-size: unit(@mwa-view-workflow-editor-size-annotation-font-size, px);

          &:not(a) {
            color: @mwa-view-workflow-editor-color-annotation;
          }
        }
      }

      > .mwa-view-workflow-editor-activity-profile-list-view {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    > .mwa-view-workflow-editor-body-right {
      .mwa-view-workflow-editor-content-cell();
    }
  }

  > .mwa-view-workflow-editor-footer {
    .mwa-view-workflow-editor-content();

    > .mwa-view-workflow-editor-footer-center {
      .mwa-view-workflow-editor-content-cell();
      flex-grow: 1;
    }
  }
}

.mwa-view-workflow-editor-content() {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.mwa-view-workflow-editor-content-cell() {
  display: flex;
  flex-direction: row;
  position: relative;
}

// Styles
.mwa-view-workflow-editor {
  .mwa-view-workflow-editor();
}

// TODO: NVX-7273 (https://www.tool.sony.biz/jira/browse/NVX-7273)
// The following style setting is for truncating "mwa" scheme from path string in metadata editor
// but it is necessary to continue to improve the implementation in consideration of other schemes
// (e.g. http, ftp).
.proui-ext-metadata-editor {
  .proui-ext-metadata-editor-body {
    .proui-ext-metadata-editor-item {
      .proui-ext-metadata-editor-metadata-group {
        .proui-ext-metadata-editor-metadata-group-item {
          .proui-ext-metadata-editor-metadata-group-item-value-control {
            .proui-ext-metadata-editor-metadata-group-item-value-control-table {
              .proui-ext-metadata-editor-metadata-group-item-value {
                text-indent: unit(@mwa-view-workflow-editor-size-metadata-editor-metadata-group-item-url-text-indent, em) !important;
              }
            }
          }

          .proui-ext-metadata-editor-metadata-group-item-input {
            ~ .proui-ext-metadata-editor-metadata-group-item-value-control {
              .proui-ext-metadata-editor-metadata-group-item-value-control-table {
                .proui-ext-metadata-editor-metadata-group-item-value {
                  text-indent: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@import "mwa.size.less";
@import "mwa.color.less";

@import "mwa.view.less";
