@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including spaces and comments before @charset declaration.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables

// Mixins
.mwa-view-workflow-parameter-editor-border-box() {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
}

.mwa-view-workflow-parameter-editor-text-ellipsis() {
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  word-wrap: normal;
}

.mwa-view-workflow-parameter-editor-content() {
  position: absolute;
  right: 0;
  left: 0;
  padding: unit(@mwa-view-workflow-parameter-editor-size-padding-vertical, px) unit(@mwa-view-workflow-parameter-editor-size-padding-horizontal, px);
  background-color: inherit;
}

.mwa-view-workflow-parameter-editor-expander-content() {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  // INFORMATION:
  // This style become to be important when supporting Pro-UI 1.0 because the padding will be
  // necessary for that case.
  padding-top: unit(@mwa-view-workflow-parameter-editor-size-expander-content-padding-top, px);
}

.mwa-view-workflow-parameter-editor-expander-content-item() {
  display: table-row;
  width: 100%;
  // CAUTION:
  // It is necessary to specify max-width style to inherit the value by result pseudo element.
  max-width: 100%;

  &.proui-state-hidden {
    display: none;
  }

  > div {
    position: relative;
  }
}

.mwa-view-workflow-parameter-editor-expander-content-item-add-button {
  // CAUTION:
  // It is important to hide this element initially to avoid flicker.
  display: none;
  position: absolute;
  top: 0;
  right: unit(@mwa-view-workflow-parameter-editor-size-button-right, px);
  bottom: 0;
  width: unit(@mwa-view-workflow-parameter-editor-size-button-width, px);
  height: unit(@mwa-view-workflow-parameter-editor-size-button-height, px);
  margin: auto;
  background: url("@{proui-image-url}/proui.util.plus.svg") center center / unit(@mwa-view-workflow-parameter-editor-size-image, px) unit(@mwa-view-workflow-parameter-editor-size-image, px) no-repeat scroll transparent;
}

.mwa-view-workflow-parameter-editor-expander-content-item-delete-button() {
  // CAUTION:
  // It is important to hide this element initially to avoid flicker.
  display: none;
  position: absolute;
  right: unit(@mwa-view-workflow-parameter-editor-size-button-right, px);
  width: unit(@mwa-view-workflow-parameter-editor-size-button-width, px);
  height: unit(@mwa-view-workflow-parameter-editor-size-button-height, px);
  background: url("@{proui-image-url}/proui.util.delete.svg") center center / unit(@mwa-view-workflow-parameter-editor-size-image, px) unit(@mwa-view-workflow-parameter-editor-size-image, px) no-repeat scroll transparent;
}

.mwa-view-workflow-parameter-editor-expander-content-item-copy-button() {
  // CAUTION:
  // It is important to hide this element initially to avoid flicker.
  display: none;
  position: absolute;
  right: unit(@mwa-view-workflow-parameter-editor-size-button-right, px);
  bottom: unit(@mwa-view-workflow-parameter-editor-size-copy-button-bottom, px);
  width: unit(@mwa-view-workflow-parameter-editor-size-button-width, px);
  height: unit(@mwa-view-workflow-parameter-editor-size-button-height, px);
  background: url("@{proui-image-url}/proui.util.copy.svg") center center / unit(@mwa-view-workflow-parameter-editor-size-image, px) unit(@mwa-view-workflow-parameter-editor-size-image, px) no-repeat scroll transparent;
}

.mwa-view-workflow-parameter-editor-expander-content-item-operator() {
  .mwa-view-workflow-parameter-editor-border-box();
  text-align: center;

  > div {
    display: inline-block;
    vertical-align: middle;
    padding: 0 unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-operator-padding-horizontal, px);
    background-color: @mwa-view-workflow-parameter-editor-color-background-rest;

    input {
      text-align: center;
    }
  }
}

.mwa-view-workflow-parameter-editor-expander-content-item-result(@padding-right) {
  &[data-result] {
    &:after {
      content: attr(data-result);
      // CAUTION: NVX-7084 (https://www.tool.sony.biz/jira/browse/NVX-7084)
      // It is necessary to display the element as block element to have the entire width.
      display: block;
      // CAUTION: NVX-7084 (https://www.tool.sony.biz/jira/browse/NVX-7084)
      // It is important to have the entire width to display copy button correctly.
      width: 100%;
      // CAUTION:
      // It is necessary to specify max-width style to display ellipsis for long text.
      max-width: inherit;
      height: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-result-height, px);
      padding-right: unit(@padding-right, px);
      .mwa-view-workflow-parameter-editor-border-box();
      color: @mwa-view-workflow-parameter-editor-color-text-result-emphasized;
      font-weight: bold;
      text-align: right;
      .mwa-view-workflow-parameter-editor-text-ellipsis();
    }

    &.proui-text-disabled {
      &:after {
        color: @mwa-view-workflow-parameter-editor-color-text-result-disabled;
      }
    }
  }

  &:hover {
    &[data-result] {
      &:not([data-result=""]) {
        .mwa-view-workflow-parameter-editor-workflow-parameter-item-copy-button {
          display: block;
        }
      }
    }
  }
}

.mwa-view-workflow-parameter-editor-workflow-condition-item-result-status(@status) {
  &:first-child {
    > div {
      .mwa-view-workflow-parameter-editor-workflow-condition-item-result-status-image(@status, 0);
    }
  }

  > div {
    .mwa-view-workflow-parameter-editor-workflow-condition-item-result-status-image(@status, @mwa-view-workflow-parameter-editor-size-expander-content-item-operator-height);
  }
}

.mwa-view-workflow-parameter-editor-workflow-condition-item-result-status-image(@status, @border-top) {
  &:before {
    content: "";
    position: absolute;
    top: unit(@border-top, px);
    right: unit(@mwa-view-workflow-parameter-editor-size-image-right + 0.5 * @mwa-view-workflow-parameter-editor-size-image, px);
    bottom: 0;
    width: unit(@mwa-view-workflow-parameter-editor-size-workflow-condition-item-result-status-width, px);
    border: solid unit(@mwa-view-workflow-parameter-editor-size-separator-border-width, px) ~"@{mwa-view-workflow-parameter-editor-color-text-box-border-@{status}}";
    border-left: hidden;
  }

  &:after {
    content: url("@{proui-image-url}/proui.util.status-@{status}.svg");
    position: absolute;
    top: unit(@mwa-view-workflow-parameter-editor-size-workflow-condition-item-result-status-image-top - @mwa-view-workflow-parameter-editor-size-expander-content-item-operator-height + @border-top, px);
    right: unit(@mwa-view-workflow-parameter-editor-size-image-right, px);
    padding: unit(@mwa-view-workflow-parameter-editor-size-workflow-condition-item-result-status-image-padding-vertical, px) 0;
    width: unit(@mwa-view-workflow-parameter-editor-size-image, px);
    height: unit(@mwa-view-workflow-parameter-editor-size-image, px);
    background-color: @mwa-view-workflow-parameter-editor-color-background-rest;
  }
}

.mwa-view-workflow-parameter-editor() {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: @mwa-view-workflow-parameter-editor-color-background-rest;
  // CAUTION:
  // It is necessary to set "cursor" style to override the setting of workflow canvas.
  cursor: default;

  .mwa-view-workflow-parameter-editor-header {
    .mwa-view-workflow-parameter-editor-content();
    top: 0;
    height: unit(@mwa-view-workflow-parameter-editor-size-header-height, px);

    .mwa-view-workflow-parameter-editor-workflow-step-drop-down-button {
      width: 100%;
      height: 100%;
      border-bottom: solid unit(@mwa-view-workflow-parameter-editor-size-separator-border-width, px) @mwa-view-workflow-parameter-editor-color-separator;
      // CAUTION:
      // It is necessary to pass max height style setting using this approach in consideration of a
      // case that the element is hidden and the height cannot be calculated.
      background: url("@{mwa-image-url}/style.png?maxHeight=@{mwa-view-workflow-parameter-editor-size-drop-down-button-max-height}") center center no-repeat scroll transparent !important;

      > .proui-drop-down-button {
        margin-right: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-right, px);
      }
    }
  }

  .mwa-view-workflow-parameter-editor-body {
    .mwa-view-workflow-parameter-editor-content();
    top: unit(@mwa-view-workflow-parameter-editor-size-header-height, px);
    bottom: unit(@mwa-view-workflow-parameter-editor-size-footer-height + @mwa-view-workflow-parameter-editor-size-separator-height, px);
    background: url("@{mwa-image-url}/style.png?workflowParameterItemKeyHeight=@{mwa-view-workflow-parameter-editor-size-expander-content-item-key-height}&workflowParameterItemValueHeight=@{mwa-view-workflow-parameter-editor-size-expander-content-item-value-height}&workflowParameterItemResultHeight=@{mwa-view-workflow-parameter-editor-size-expander-content-item-result-height}&workflowConditionItemHeight=@{mwa-view-workflow-parameter-editor-size-workflow-condition-item-height}&workflowConditionItemOperatorHeight=@{mwa-view-workflow-parameter-editor-size-expander-content-item-operator-height}") center center no-repeat scroll transparent !important;

    .mwa-view-workflow-parameter-editor-information-activity-instance-information,
    .mwa-view-workflow-parameter-editor-input-workflow-parameter-expander,
    .mwa-view-workflow-parameter-editor-output-workflow-parameter-expander,
    .mwa-view-workflow-parameter-editor-workflow-condition-expander {
      display: none;
      border-bottom: solid unit(@mwa-view-workflow-parameter-editor-size-separator-border-width, px) @mwa-view-workflow-parameter-editor-color-separator;
    }

    .mwa-view-workflow-parameter-editor-workflow-parameter-add-button {
      .mwa-view-workflow-parameter-editor-expander-content-item-add-button();
    }

    .mwa-view-workflow-parameter-editor-workflow-condition-add-button {
      .mwa-view-workflow-parameter-editor-expander-content-item-add-button();
    }
  }

  .mwa-view-workflow-parameter-editor-footer {
    .mwa-view-workflow-parameter-editor-content();
    bottom: 0;
    //height: unit(@mwa-view-workflow-parameter-editor-size-footer-height, px);

    .mwa-view-workflow-parameter-editor-information-expander {
      display: none;

      .ui-resizable-handle {
        right: unit(-@mwa-view-workflow-parameter-editor-size-padding-horizontal, px);
        left: unit(-@mwa-view-workflow-parameter-editor-size-padding-horizontal, px);
        width: auto;
        // INFORMATION:
        // It is important to have a little height to easy to drag.
        height: unit(@mwa-view-workflow-parameter-editor-size-separator-height, px);
        // CAUTION:
        // It is necessary to use "border-bottom" style, not "border-top" style, to correctly
        // display shadow effect by scroll bar on body. And it is also necessary to disable
        // "border-top" style not to display original separator of expander.
        border-top: none;
        border-bottom: solid unit(@mwa-view-workflow-parameter-editor-size-separator-border-width, px) @mwa-view-workflow-parameter-editor-color-separator;
      }
    }
  }
}

.mwa-view-workflow-parameter-editor-activity-instance-information() {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: unit(@mwa-view-workflow-parameter-editor-activity-instance-information-padding-vertical, px) 0;

  > .mwa-view-workflow-parameter-editor-activity-instance-information-item {
    .mwa-view-workflow-parameter-editor-activity-instance-information-item();
  }
}

.mwa-view-workflow-parameter-editor-activity-instance-information-item() {
  display: table-row;
  width: 100%;

  > div {
    display: table-cell;
    // CAUTION: NVX-7082 (https://www.tool.sony.biz/jira/browse/NVX-7082)
    // It is important to specify the height as minimum height setting to be able to display all
    // items by the the same height even if the value of any item is nothing.
    height: unit(@mwa-view-workflow-parameter-editor-activity-instance-information-item-height, px);
    vertical-align: top;
    padding: unit(@mwa-view-workflow-parameter-editor-activity-instance-information-item-padding-vertical, px) 0;
    .mwa-view-workflow-parameter-editor-border-box();

    &:first-child {
      width: unit(@mwa-view-workflow-parameter-editor-activity-instance-information-item-key-width, px);
      // CAUTION: NVX-7082 (https://www.tool.sony.biz/jira/browse/NVX-7082)
      // It is necessary to adjust the top padding in consideration of the difference regarding font
      // size between key and value.
      padding-top: unit(@mwa-view-workflow-parameter-editor-activity-instance-information-item-key-padding-top, px);
    }

    &:last-child {
      padding-right: unit(@mwa-view-workflow-parameter-editor-activity-instance-information-item-value-padding-right, px);
      word-wrap: break-word;

      > .proui-progress-bar {
        margin-top: unit(@mwa-view-workflow-parameter-editor-activity-instance-information-item-value-progress-bar-margin-top, px);

        .proui-progress-bar-text {
          color: @mwa-view-workflow-parameter-editor-color-text-progress-bar;
        }
      }
    }
  }
}

.mwa-view-workflow-parameter-editor-workflow-parameter() {
  .mwa-view-workflow-parameter-editor-expander-content();

  > .mwa-view-workflow-parameter-editor-workflow-parameter-item {
    .mwa-view-workflow-parameter-editor-expander-content-item();

    &.mwa-view-workflow-parameter-editor-state-required {
      > div {
        > .mwa-view-workflow-parameter-editor-workflow-parameter-item-key {
          > .mwa-view-workflow-parameter-editor-workflow-parameter-item-key-name {
            &:after {
              content: " *";
            }
          }
        }

        > .mwa-view-workflow-parameter-editor-workflow-parameter-item-value {
          > .mwa-view-workflow-parameter-editor-workflow-parameter-item-value-target {
            &[data-uri=""] {
              &:after {
                border-color: @mwa-view-workflow-parameter-editor-color-text-box-border-error;
              }
            }
          }
        }
      }
    }

    .mwa-view-workflow-parameter-editor-expander-content-item-result(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-right);

    > div {
      > .mwa-view-workflow-parameter-editor-workflow-parameter-item-key {
        display: flex;
        flex-direction: row;
        height: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-key-height, px);
        padding: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-top, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-right, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-bottom, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-left, px);
        .mwa-view-workflow-parameter-editor-border-box();

        > div {
          // CAUTION:
          // It is necessary to set 0 to min-width for overriding the special default value (auto)
          // for flex item in order not to expand the width based on the contents.
          //  - flex box layoutで中に長いテキストなどを含む幅可変要素のレイアウト
          //    (http://kudakurage.hatenadiary.com/entry/2016/04/01/232722)
          min-width: 0;
        }

        > .mwa-view-workflow-parameter-editor-workflow-parameter-item-key-name {
          flex-grow: 1;
          line-height: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-key-height, px);
        }

        > .mwa-view-workflow-parameter-editor-workflow-parameter-item-key-type {
          flex-grow: 0;
          min-width: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-key-type-min-width, px);
          line-height: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-key-height, px);
          text-align: right;
        }
      }

      > .mwa-view-workflow-parameter-editor-workflow-parameter-item-value {
        display: table;
        width: 100%;
        height: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-value-height, px);
        // CAUTION:
        // It is important to set min-height style setting to always keep the height for not only
        // empty case but also only blank characters case.
        min-height: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-value-height, px);
        padding: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-top, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-right, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-bottom, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-left, px);
        .mwa-view-workflow-parameter-editor-border-box();

        > div {
          display: table-cell;
          width: 50%;
          height: 100%;

          &:first-child {
            padding-right: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-value-padding-horizontal, px);
          }

          &:last-child {
            padding-left: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-value-padding-horizontal, px);
          }

          > div {
            // TODO(subhash): NVX-5568 (https://www.tool.sony.biz/jira/browse/NVX-5568)
            // This float style setting should be removed because this is necessary for
            // resolving a bug of Chromium.
            float: left;
            width: 100%;
            height: 100%;

            // CAUTION:
            // It is necessary to pass max height style setting using this approach in consideration
            // of a case that the element is hidden and the height cannot be calculated.
            background: url("@{mwa-image-url}/style.png?maxHeight=@{mwa-view-workflow-parameter-editor-size-drop-down-button-max-height}") center center no-repeat scroll transparent !important;
          }
        }

        > .mwa-view-workflow-parameter-editor-workflow-parameter-item-value-target {
          position: relative;

          &[data-uri] {
            &:after {
              content: attr(data-uri);
              position: absolute;
              right: 0;
              left: unit(@mwa-view-workflow-parameter-editor-size-button-width + 2*@mwa-view-workflow-parameter-editor-size-expander-content-item-value-padding-horizontal, px);
              height: unit(@mwa-view-workflow-parameter-editor-size-button-height, px);
              line-height: unit(@mwa-view-workflow-parameter-editor-size-button-height, px);
              border-bottom: unit(@mwa-view-workflow-parameter-editor-size-text-box-border-width, px) @mwa-view-workflow-parameter-editor-color-text-box-border-disabled dashed;
              .mwa-view-workflow-parameter-editor-text-ellipsis();
            }
          }
        }
      }

      > .mwa-view-workflow-parameter-editor-workflow-parameter-item-delete-button {
        .mwa-view-workflow-parameter-editor-expander-content-item-delete-button();
        top: unit(@mwa-view-workflow-parameter-editor-size-workflow-parameter-item-delete-button-top, px);
      }

      > .mwa-view-workflow-parameter-editor-workflow-parameter-item-copy-button {
        .mwa-view-workflow-parameter-editor-expander-content-item-copy-button();
      }
    }
  }

  &.proui-state-hidden {
    .mwa-view-workflow-parameter-editor-workflow-parameter-item {
      &.mwa-view-workflow-parameter-editor-state-required {
        &.mwa-view-workflow-parameter-editor-state-read-only {
          .mwa-view-workflow-parameter-editor-workflow-parameter-item-key-name {
            &:after {
              display: none;
            }
          }
        }
      }

      > div {
        > .mwa-view-workflow-parameter-editor-workflow-parameter-item-value {
          display: none;
        }
      }
    }
  }
}

.mwa-view-workflow-parameter-editor-workflow-condition() {
  .mwa-view-workflow-parameter-editor-expander-content();

  > .mwa-view-workflow-parameter-editor-workflow-condition-item {
    .mwa-view-workflow-parameter-editor-expander-content-item();

    &:first-child {
      > div {
        > .mwa-view-workflow-parameter-editor-workflow-condition-item-condition-operator {
          display: none;
        }

        > .mwa-view-workflow-parameter-editor-workflow-condition-item-delete-button {
          top: unit(@mwa-view-workflow-parameter-editor-size-workflow-condition-item-delete-button-top - @mwa-view-workflow-parameter-editor-size-expander-content-item-operator-height, px);
        }
      }
    }

    //&:only-child {
    //  > div {
    //    > .mwa-view-workflow-parameter-editor-workflow-condition-item-delete-button {
    //      display: none;
    //    }
    //  }
    //}

    &.proui-state-success {
      .mwa-view-workflow-parameter-editor-workflow-condition-item-result-status('success');
    }

    &.proui-state-error {
      .mwa-view-workflow-parameter-editor-workflow-condition-item-result-status('error');
    }

    > div {
      > .mwa-view-workflow-parameter-editor-workflow-condition-item-condition-operator {
        .mwa-view-workflow-parameter-editor-expander-content-item-operator();
        height: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-operator-height, px);
        line-height: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-operator-line-height, px);
        padding: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-top, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-right, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-bottom, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-left, px);

        &:after {
          content: "";
          display: block;
          margin-top: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-operator-negative-margin-top, px);
          width: 100%;
          height: unit(@mwa-view-workflow-parameter-editor-size-separator-border-width, px);
          border-top: solid unit(@mwa-view-workflow-parameter-editor-size-separator-border-width, px) @mwa-view-workflow-parameter-editor-color-separator;
        }
      }

      > .mwa-view-workflow-parameter-editor-workflow-condition-item-left-value,
      > .mwa-view-workflow-parameter-editor-workflow-condition-item-right-value {
        // CAUTION: NVX-5281 (https://www.tool.sony.biz/jira/browse/NVX-5281)
        // It is necessary to set min-height style instead of height style to extend the height
        // automatically when displaying the result.
        min-height: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-value-height, px);
        // CAUTION: NVX-5281 (https://www.tool.sony.biz/jira/browse/NVX-5281)
        // It is important not to specify padding-top and padding-bottom styles because the size
        // won't be considered by min-height style even if box-sizing style is applied.
        padding: 0 unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-right, px) 0 unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-left, px);
        .mwa-view-workflow-parameter-editor-border-box();

        > .mwa-view-workflow-parameter-editor-workflow-parameter {
          .mwa-view-workflow-parameter-editor-workflow-parameter-item {
            .mwa-view-workflow-parameter-editor-expander-content-item-result(0);

            > div {
              > .mwa-view-workflow-parameter-editor-workflow-parameter-item-key {
                display: none;
              }

              > .mwa-view-workflow-parameter-editor-workflow-parameter-item-value {
                padding: 0;
              }
            }
          }
        }
      }

      > .mwa-view-workflow-parameter-editor-workflow-condition-item-comparison-operator {
        .mwa-view-workflow-parameter-editor-expander-content-item-operator();
        height: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-value-height, px);
        padding: unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-top, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-right, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-bottom, px) unit(@mwa-view-workflow-parameter-editor-size-expander-content-item-space-left, px);
      }

      > .mwa-view-workflow-parameter-editor-workflow-condition-item-delete-button {
        .mwa-view-workflow-parameter-editor-expander-content-item-delete-button();
        top: unit(@mwa-view-workflow-parameter-editor-size-workflow-condition-item-delete-button-top, px);
      }
    }
  }
}

// Styles
.mwa-view-workflow-parameter-editor {
  .mwa-view-workflow-parameter-editor();
}

.mwa-view-workflow-parameter-editor-activity-instance-information {
  .mwa-view-workflow-parameter-editor-activity-instance-information();
}

.mwa-view-workflow-parameter-editor-workflow-parameter {
  .mwa-view-workflow-parameter-editor-workflow-parameter();
}

.mwa-view-workflow-parameter-editor-workflow-condition {
  .mwa-view-workflow-parameter-editor-workflow-condition();
}

.mwa-view-workflow-parameter-editor-workflow-parameter-item-value-source-drop-down-list {
  .proui-drop-down-list-item {
    // CAUTION:
    // To change this value when predefined workflow steps is increased.
    &:nth-child(@{mwa-view-workflow-parameter-editor-size-predefined-workflow-step-number}) {
      &:after {
        content: "";
        position: absolute;
        top: unit(@mwa-view-workflow-parameter-editor-size-predefined-workflow-step-number * @mwa-view-workflow-parameter-editor-size-drop-down-list-item-height, px);
        right: unit(@mwa-view-workflow-parameter-editor-size-separator-padding-horizontal, px);
        left: unit(@mwa-view-workflow-parameter-editor-size-separator-padding-horizontal, px);
        height: 0;
        border-top: solid unit(@mwa-view-workflow-parameter-editor-size-separator-border-width, px) @mwa-view-workflow-parameter-editor-color-separator;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

@import "mwa.size.less";
@import "mwa.color.less";

@import "mwa.view.less";
