@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including spaces and comments before @charset declaration.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${svn.revision}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables

// Mixins
.mwa-view-workflow-connection-port() {
  position: absolute;
  width: unit(@mwa-view-workflow-connection-port-size, px);
  height: unit(@mwa-view-workflow-connection-port-size, px);
  border-radius: unit(@mwa-view-workflow-connection-port-size / 2, px);

  &[data-type="CONTROL_INPUT"],
  &[data-type="CONTROL_OUTPUT"] {
  }

  &[data-type="DATA_INPUT"],
  &[data-type="DATA_OUTPUT"] {
  }

  &.proui-state-hidden {
    // CAUTION:
    // It is necessary to use visibility style instead of display style for the non-display because
    // internal timer will stop based on whether the width is fixed.
    visibility: hidden;
  }

  &.proui-state-draggable {
    circle {
      cursor: pointer;
    }

    &:hover {
      .mwa-view-workflow-connection-port-color-state(~"hover");
    }
  }

  &.proui-state-droppable {
    &.proui-state-selecting {
      .mwa-view-workflow-connection-port-color-state(~"hover");
      // CAUTION:
      // It is necessary to use box-shadow style instead of border style not to affect svg element
      // size.
      box-shadow: 0 0 0 unit(@mwa-view-workflow-connection-port-border-width-selecting, px) @mwa-view-workflow-connection-port-color-border-selected;
    }
  }

  .mwa-view-workflow-connection-port-color-state(~"rest");

  svg {
    width: 100%;
    height: 100%;
  }
}

.mwa-view-workflow-connection-port-circle(@stroke, @stroke-width) {
  circle {
    stroke: @stroke;
    stroke-width: @stroke-width;
    fill: @mwa-view-workflow-connection-port-color-circle-fill-rest;
  }
}

.mwa-view-workflow-connection-port-color(@name, @state) {
  .mwa-view-workflow-connection-port-circle(~"@{mwa-view-workflow-connection-port-color-circle-stroke-@{name}-@{state}}", @mwa-view-workflow-connection-port-circle-stroke-width);
}

.mwa-view-workflow-connection-port-color-class(@name, @state) {
  &.mwa-view-workflow-connection-port-color-@{name} {
    .mwa-view-workflow-connection-port-color(@name, @state);
  }
}

.mwa-view-workflow-connection-port-color-state(@state) {
  .mwa-view-workflow-connection-port-color(~"gray", @state);
  .mwa-view-workflow-connection-port-color-class-state("", @state);
  .mwa-view-workflow-connection-port-color-class-state("-dark", @state);
}

.mwa-view-workflow-connection-port-color-class-state(@postfix, @state) {
  .mwa-view-workflow-connection-port-color-class(~"gray@{postfix}", @state);
  .mwa-view-workflow-connection-port-color-class(~"green@{postfix}", @state);
  .mwa-view-workflow-connection-port-color-class(~"red@{postfix}", @state);
  .mwa-view-workflow-connection-port-color-class(~"white@{postfix}", @state);
  .mwa-view-workflow-connection-port-color-class(~"orange@{postfix}", @state);
  .mwa-view-workflow-connection-port-color-class(~"yellow@{postfix}", @state);
  .mwa-view-workflow-connection-port-color-class(~"brown@{postfix}", @state);
  .mwa-view-workflow-connection-port-color-class(~"blue@{postfix}", @state);
  .mwa-view-workflow-connection-port-color-class(~"purple@{postfix}", @state);
}

// Styles
.mwa-view-workflow-connection-port {
  .mwa-view-workflow-connection-port();
}

@import "mwa.size.less";
@import "mwa.color.less";

@import "mwa.view.less";
