@charset "UTF-8";
// CAUTION: 4.4 CSS style sheet representation (https://www.w3.org/TR/CSS2/syndata.html#charset)
// There must be no characters including comments before @charset.

/**
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${buildNumber}
 */
/*!
 * ${project.build.finalName}
 * ${copyright}
 * ${project.version}.${buildNumber}
 */

/**
 * mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup)
 */
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

// Variables
@mwa-font-url: '../../fonts/mwa';

// Mixins

// Styles
@font-face {
  font-family: "SSTUI-Bold";
  src: url("@{mwa-font-url}/SSTUI-Bold.ttf");
}

@font-face {
  font-family: "SSTUI-Light";
  src: url("@{mwa-font-url}/SSTUI-Light.ttf");
}

@font-face {
  font-family: "SSTUI-Medium";
  src: url("@{mwa-font-url}/SSTUI-Medium.ttf");
}

@font-face {
  font-family: "SSTUI-Roman";
  src: url("@{mwa-font-url}/SSTUI-Roman.ttf");
}
